<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
    <style>
        h1 {
            background: beige;
            color: brown;
            border:1px solid black
        }
        body {
            background: mistyrose;

        }
        .link {
            font-size: xx-large;
            text-align: center;
            color: antiquewhite;
            background: darkblue;
            border:3px solid antiquewhite;
        }
    </style>
</head>
<body>
<h1>AskMate</h1>
<a class="link" href="/add-question">Add question</a><br>
<br>
<a class="link" href="/questions">Questions</a>
</body>
</html>