<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>list</title>
    <style>
        h1 {
            color: chocolate;
            border: 2px solid darkblue;
        }
        body {
            background-color: antiquewhite;
        }
        td {
            border: 1px solid black;
        }
        table {
            border: 2px solid darkred
        }
    </style> <! tr w stylach chyba gunwo robi /!>
</head>
<body>
<h1>Questions</h1>
<table>
    <tr>
        <td> id </td>
        <td> submission_time </td>
        <td> view_number </td>
        <td> vote_number </td>
        <td> title </td>
        <td> message </td>
        <td> image </td>
    </tr>
    {% for question in questions %}
        <tr>
        {% for key, value in question.items() %}
            <td>{{value}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>